@using UCRMS.Models.EntityModels
@using UCRMS.Models.ViewModels
@model TeacherCourse
@{
    ViewBag.Title = "AssignCourse";
    var teachers = new SelectList(new List<Teacher>(), "Id", "Name");
    var courses = new SelectList(new List<Course>(), "Id", "Code");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <br />
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Course Assign to Teacher
            </div>

            <div class="panel-body">
                @if (ViewBag.Status != null)
                {
                    <div class="alert @ViewBag.Status[0] alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@ViewBag.Status[1]</strong> @ViewBag.Status[2]
                    </div>
                }
                @using (@Html.BeginForm("AssignCourse", "Teacher", FormMethod.Post, new { @id = "assignCourseForm", @name="assignCourseForm", @class = "form-horizontal" }))
                {
                    @*@Html.ValidationSummary()*@

                    <div class="col-md-offset-2 col-md-8">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DepartmentId, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.DepartmentId, ViewBag.Departments as IEnumerable<SelectListItem>, "Select One", new { @class = "form-control" })
                                <small class="error-msg">@Html.ValidationMessageFor(m => m.DepartmentId)</small>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.TeacherId, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.TeacherId, (IEnumerable<SelectListItem>)teachers, "Select One", new { @class = "form-control" })
                                <small class="error-msg">@Html.ValidationMessageFor(m => m.TeacherId)</small>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.RemainingCredit, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.RemainingCredit, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.CreditToBeTaken, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CreditToBeTaken, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.CourseId, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.CourseId, (IEnumerable<SelectListItem>)courses, "Select One", new { @class = "form-control" })
                                <small class="error-msg">@Html.ValidationMessageFor(m => m.CourseId)</small>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.CourseName, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.CourseCredit, new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.CourseCredit, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary pull-right" id="assignCourseButton" name="assignCourseButton" value="Save">
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<div id="confirmDialog" title="Confirm Details">
    <p>Are you sure want to add the course?</p>
    <p>Remaining Credit: <span id="negativeCredit"></span></p>
</div>

@section styles
{
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/AssignCourse.js"></script>
}

